body { 
	margin-top: 5%;
	font-size:16px;
	line-height:1.6;
	background-image: -webkit-linear-gradient(bottom, #c6c6c8 0%, #75767624 50%);
}

#mouse{
position:absolute;
}

.btn-mini {
  padding: 2px 6px
  font-size: 11px;
  line-height: 13px;
}

/* Customize container */
@media (min-width: 768px) {
  .container-fluid {
    max-width: 90%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Slightly better-looking header on mobile. */
@media screen and (max-width: 767px) {
    .nav-pills {
        display: block;
        margin: 0 auto 1em;
    }
    #logo {
        display: block;
        clear: both;
        margin: 1em auto;
    }
}


a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4, h5 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }
h5 { font-size: 1.5em;}

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

html, body {
    max-width: 100%;
}
