<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="/css/bootstrap.min.css" rel="stylesheet">
			<style type="text/css">
    				p.p2 {margin: 0.0px 0.0px 18.0px 0.0px; line-height: 21.0px; font: 18.0px Times; color: #000000; -webkit-text-stroke: #000000}
    				p.p3 {margin: 0.0px 0.0px 14.9px 0.0px; line-height: 22.0px; font: 18.0px Times; color: #000000; -webkit-text-stroke: #000000}
				span.s1 {font-kerning: none}
    				span.s2 {font: 18.0px Times; text-decoration: underline ; font-kerning: none; color: #0000c9; -webkit-text-stroke: 0px #0000c9}
  			</style>
		</head>
		<body>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ruiwei@comp.nus.edu.sg"><span class="s2"> <span>&#9993;</span> e0280167@u.nus.edu</span></a></li>
				</ul>
			</footer>
		</body>
	</html>
